@import "tailwindcss";

@layer utilities {


  @keyframes pop-up {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-pop-up {
    animation: pop-up 0.5s ease-in-out forwards;
  }

  .animate-slow-pop-up {
    animation: pop-up 1.5s ease-in-out forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-in-out 1s forwards;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 1.6s ease infinite;
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
  }

  

  .reveal {
    opacity: 0;
    transform: translateY(20px);
    transition:
      opacity 0.7s ease,
      transform 0.7s ease;
  }

  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Light Mode Styles */
.light-mode {
  background: radial-gradient(circle at center, #0D0D0D  0%, #0D0D0D  100%);

}

.light-mode .light-gradient {
  background-image: linear-gradient(to right, #f6d365, #fda085, #6dd5ed);
}

/* Dark Mode Styles */
.dark-mode {
  background: radial-gradient(#0a0a0a 0%, #000000 100%);
}

html {
  smooth-scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
  min-height: 100vh;
  overflow-x: hidden;
}
